<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <Link rel="stylesheet" href="/stylesheets/allBill.css"></Link>
    <style>
        .no-data-message {
            text-align: center;
            margin-top: 50px;
            font-size: 1.2em;
            color: #888;
        }

        .popup {
            display: none;
            position: fixed;
            flex-direction: column;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
        }
        .overlay {
            display: none;
            position: fixed;
            flex-direction: column;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }
        .btn {
            padding: 10px 20px;
            background: rgb(143, 107, 54);
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div>
        <h2 style="margin-left: 2%;">จัดการบิล - <%= dname[0].name %></h2>
        <% if (data.length > 0) { %>
        <table>
            <thead>
              <tr>
                <th>เลขที่ห้อง</th>
                <th>จำนวนทั้งหมด</th>
                <th>รูปภาพสลิป</th>
                <th>วันที่</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% data.forEach(item => { %>
                <tr>
                    <td><%= item.room_number %></td>
                  <td><%= item.totalamount %></td>
                  <td style="display: flex; gap: 10%; justify-content: left; align-items: center;">
                    <% if (item.pay_img && item.pay_img.trim() !== '[NULL]') { %>
                      <p><%= item.pay_img %></p>
                      <a onclick="openPopup()">
                        <img src="https://www.svgrepo.com/show/530429/picture.svg" class="icon"></img>
                      </a>
                      <div class="popup" id="popup">
                        <img src="/images/<%= item.pay_img %>">
                        <div style="padding: 20px;">
                          <button style="margin-left: 40%;" class="btn" onclick="closePopup()">ปิด</button>
                        </div>
                    </div>
                    <% } else { %>
                      <p>ไม่มีข้อมูลสลิป</p>
                    <% } %>
                  </td>
                  <td><%= new Date(item.pay_date).toLocaleDateString() %></td>
                  <td>
                    <button id="confirmButton<%= item.pay_id %>" onclick="ConfirmPayment('<%= item.pay_id %>')">ยืนยันการโอน</button>
                    <p id="confirmationMessage<%= item.pay_id %>" style="display: none; color: green;" class="confirmed">ยืนยันแล้ว</p>
                  </td>
                </tr>
                <div class="overlay" id="overlay" onclick="closePopup()"></div>
              <% }); %>
            </tbody>
        </table>
    
        <% } else { %>
            <table>
                <thead>
                  <tr>
                    <th>เลขที่ห้อง</th>
                    <th>จำนวนทั้งหมด</th>
                    <th>รูปภาพสลิป</th>
                    <th>วันที่</th>
                    <th></th>
                  </tr>
                </thead>
            </table>
            <p class="no-data-message">ไม่มียอดค้างการจ่ายเงิน</p>
        <% } %>
        <script>
            async function ConfirmPayment(payId){
                console.log(payId)
                try{
                    const response = await fetch('/api/confirmPayment',{
                    method: "POST",
                        headers: {
                        "Content-Type": "application/json",
                        },
                        body: JSON.stringify({payId: payId}),
                    });
                    
                    if (response.ok){
                        document.getElementById(`confirmButton${payId}`).style.display = 'none';
                        document.getElementById(`confirmationMessage${payId}`).style.display = 'block';
                    } else {
                        console.error("Confirm payment error");
                    }

                }catch(error){
                    console.error("Confirm payment error")
                }
                
            }

        function openPopup() {
            document.getElementById('popup').style.display = 'flex';
            document.getElementById('overlay').style.display = 'flex';
        }

        function closePopup() {
            document.getElementById('popup').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }
  </script>
    </div>
</body>
</html>