<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ชำระค่าหอพัก</title>
    <link rel="stylesheet" href="/stylesheets/bill.css">
    <script src=""></script>
  </head>
  <body>
    <div class="main">
      <div class="container">
        <form
          action="/bill/pay/<%= data.pay_id%>"
          method="post"
          enctype="multipart/form-data"
          class="container"
        >
          <div class="title"><%= data.dormitory_name %></div>
          <div class="info">
            <img
              class="icon"
              src="https://img.icons8.com/?size=100&id=i6fZC6wuprSu&format=png&color=000000"
            />
            <p>ห้องพัก: <%= data.room_number %></p>
            <img
              class="icon"
              src="https://img.icons8.com/?size=100&id=uOoIUTYvxnso&format=png&color=000000"
            />
            <p>ชื่อผู้เช่า: <%= data.first_name%>&nbsp<%= data.last_name%></p>
          </div>
          <strong>รายการค่าใช้จ่าย</strong>
          <div class="amount">
            <p><span>ค่าเช่าห้อง:</span> <span><%= data.rent %> บาท</span></p>
            <p><span>ค่าน้ำ:</span> <span><%=data.waterBill %> บาท</span></p>
            <p><span>ค่าไฟ:</span> <span><%=data.electricBill %> บาท</span></p>
            <hr />
            <p>
              <strong>รวมทั้งหมด:</strong>
              <strong><%=data.totalamount %> บาท</strong>
            </p>
          </div>
          <p>เลขที่บัญชี: <%= data.payChannel%></p>
          <div class="upload-section">
            <input
              type="file"
              name="slip"
              id="slipFileInput"
              style="display: none"
            />
            <input
              type="button"
              value="แนบหลักฐานสลิปการโอน"
              class="upload-button"
              onclick="document.getElementById('slipFileInput').click();"
              id="slipva"
            />
          </div>
          <a href="/qrbill/<%= data.pay_id %>" class="white-button"
            >ชำระเงินผ่าน QR Code</a
          >
          <button class="button">ยืนยันการโอน</button>
        </form>
      </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const slip = document.getElementById("slipFileInput");

            slip.addEventListener("change", function (event) {
                const file = event.target.files[0];
                if (file) {
                    document.getElementById('slipva').value = file.name;
                } else {
                    document.getElementById('slipva').value = "แนบหลักฐานสลิปการโอน";
                }
            });
        });
    </script>
  </body>
</html>
