<!DOCTYPE html>
<html lang="th">
<head>
    <link rel="stylesheet" href="/stylesheets/dorminfo.css">
    <script src="/javascripts/dorminfo.js"></script>
</head>
<body>
    <main>
        <div class="dorm_info">     
            <img src="/images/<%=dorm.dorm_pic%>" alt="dormimg" class="dorm_img">
            <div class="info">
                <h1><%=dorm.name%></h1>
                <h3><%=dorm.rating%> ดาว</h3>
                <p><%=dorm.address%></p>
                <button type="button" onclick="openSelectRoom('<%=dorm.dorm_id%>')">เลือกดูห้อง</button>
                <div class="mini_info">
                    <h3>รายละเอียด</h3>
                    <p><%=dorm.detail%></p>
                    <p><%=dorm.rent%> บาท/เดือน</p>
                    <p>ค่าไฟ: หน่วยละ <%=dorm.electric_pay%> บาท</p>
                    <p>ค่าน้ำ: หน่วยละ <%=dorm.water_pay%> บาท</p>
                    <p>อินเทอร์เน็ต: ฟรี</p>
                    <p>เบอร์ติดต่อ: <%=dorm.phone_contact%></p>
                </div>
            </div>
        </div>
        <div class="do_comment">
            <h1>แสดงความคิดเห็น</h1>
            <div class="stars" id="starRating">
                <span class="star" onclick="changeStar(1)" onmouseover="changeStarColor(1)" onmouseout="changeStarColor(0)">&#9733;</span>
                <span class="star" onclick="changeStar(2)" onmouseover="changeStarColor(2)" onmouseout="changeStarColor(0)">&#9733;</span>
                <span class="star" onclick="changeStar(3)" onmouseover="changeStarColor(3)" onmouseout="changeStarColor(0)">&#9733;</span>
                <span class="star" onclick="changeStar(4)" onmouseover="changeStarColor(4)" onmouseout="changeStarColor(0)">&#9733;</span>
                <span class="star" onclick="changeStar(5)" onmouseover="changeStarColor(5)" onmouseout="changeStarColor(0)">&#9733;</span>
            </div>
            <textarea id="my_comment_text" rows="10"></textarea>
            <button type="button" onclick="do_comment('<%=dorm.dorm_id%>')">ยืนยัน</button>
        </div>
        <div class="comments_box">
            <h1>ความคิดเห็นทั้งหมด</h1>
            <div class="comments_container">
                <%comment.forEach(com => {%>
                    <div class="comment">
                        <div class="top">
                            <img src="<%=com.user_pic%>" alt="user_img">
                            <h3><%=com.username%></h3>
                            <div class="comstars">
                                <%for (i=0; i<com.rating; i++) {%>
                                    <span class="comstar">&#9733;</span>
                                <%};%>
                            </div>
                        </div>
                        <p><%=com.comment%></p>
                    </div>
                <%});%>
            </div>
        </div>
    </main>
</body>
<html lang="th">
