<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แบบฟอร์มกรอกข้อมูลที่พัก</title>
    <link rel="stylesheet" href="/stylesheets/editdorm.css">
    <script src="/javascripts/editdorm.js"></script>
</head>
<body>
    <div class="main">
        <div class="container">
            <h2>แบบฟอร์มแก้ไขข้อมูลหอพัก</h2>
            <form action="/editdorm/process_edit/<%= data.dorm_id %>/<%= data.owner_id %>" method="post" enctype="multipart/form-data" onsubmit="return validate(event);">
                <div class="form-grid">
                    <div class="form-group">
                        <label for="name">ชื่อที่พัก: </label>
                        <input type="text" id="name" name="name" value="<%= data.name %>" required>
                    </div>
                    <div class="form-group">
                        <label for="detail">รายละเอียด:</label>
                        <textarea id="detail" name="detail"><%= data.detail %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="pay">เลขที่บัญชี:</label>
                        <input type="text" id="pay" name="pay" value="<%= data.pay %>"  required>
                    </div>
                    <div class="form-group">
                        <label for="address">ที่อยู่:</label>
                        <textarea id="address" name="address" required><%= data.address %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="phone_contact">เบอร์ติดต่อ:</label>
                        <input type="text" id="phone_contact" name="phone_contact" value="<%= data.phone_contact %>" required>
                    </div>
                    <div class="form-group">
                        <label for="rent1">ราคาเริ่มต้น:</label>
                        <input type="text" id="rent1" name="rent1" value="<%= data.rent.split('-')[0] %>" required>
                    </div>
                    <div class="form-group">
                        <label for="other_contact">ช่องทางติดต่ออื่น ๆ:</label>
                        <input type="text" id="other_contact" name="other_contact" value="<%= data.other_contact %>">
                    </div>
                    <div class="form-group">
                        <label for="rent2">ราคาสูงสุด:</label>
                        <input type="text" id="rent2" name="rent2" value="<%= data.rent.split('-')[1] %>" required>
                    </div>
                    <div class="form-group">
                        <label for="electric_pay">ค่าไฟ (บาท/หน่วย):</label>
                        <input type="text" id="electric_pay" name="electric_pay" value="<%= data.electric_pay %>">
                    </div>
                    <div class="form-group">
                        <label for="water_pay">ค่าน้ำ (บาท/หน่วย):</label>
                        <input type="text" id="water_pay" name="water_pay" value="<%= data.water_pay %>">
                    </div>
                    <div class="form-group">
                        <label for="payChannel">ธนาคาร :</label>
                        <input type="text" name="payChannel" id="payChannel" value="<%= data.payChannel %>" required>
                    </div>
                </div>
                <div>
                    <div class="image-upload">
                        <img src="" alt="Image Here" id="imagePreview">
                    </div>
                    <input type="file" name="image" style="display: none;" id="fileInput">
                </div>

                <div class="buttons">
                    <button type="submit" class="submit-btn">บันทึก</button>
                    <input type="button" value="อัพโหลดรูปภาพ" class="upload-btn"
                        onclick="document.getElementById('fileInput').click();">
                        <input type="file" name="qrimage" id="qrFileInput" class="qr" style="display: none;">
                    <input type="button" value="อัพโหลด QR Code" class="upload-btn" onclick="document.getElementById('qrFileInput').click();" id="filesel">

                </div>
                <div class="buttons">
                    
                </div>
                
            </form>
        </div>
    </div>
</body>
</html>