<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addroom</title>
    <link rel="stylesheet" href="/stylesheets/editroom.css">
    <script src="/javascripts/editroom.js"></script>

</head>

<body>
    <main>
        <div class="main">
            <div class="text-information">
                <form action="/editroom/process_editroom/<%= data.room_id %>/<%= userid %>" method="post"
                    enctype="multipart/form-data">
                    <label for="room_number">เลขที่ห้อง :</label>
                    <input type="text" placeholder="กรอกเลขที่ห้อง" name="room_number" value="<%= data.room_number %>"
                        required>

                    <label for="floor">ชั้น :</label>
                    <input type="number" placeholder="กรอกชั้น" name="floor" value="<%= data.floor %>" required>

                    <label for="size">ขนาดห้อง (ตร.ม.) :</label>
                    <input type="number" placeholder="กรอกขนาดห้อง" name="size" value="<%= data.size %>" required>

                    <label for="rent">ราคา :</label>
                    <input type="number" placeholder="กรอกราคา" name="rent" value="<%= data.rent %>" required>

                    <div class="facilities">
                        <h3>สิ่งอำนวยความสะดวก</h3>
                        <div class="facilities-grid">
                            <label><input type="checkbox" name="facilities" value="29"> เครื่องปรับอากาศ</label>
                            <label><input type="checkbox" name="facilities" value="30"> เฟอร์นิเจอร์</label>
                            <label><input type="checkbox" name="facilities" value="31"> เครื่องทำน้ำอุ่น</label>
                            <label><input type="checkbox" name="facilities" value="32"> พัดลม</label>
                            <label><input type="checkbox" name="facilities" value="33"> โทรทัศน์</label>
                            <label><input type="checkbox" name="facilities" value="34"> ตู้เย็น</label>
                            <label><input type="checkbox" name="facilities" value="35"> โซฟา</label>
                            <label><input type="checkbox" name="facilities" value="36"> โต๊ะทำงาน</label>
                            <label><input type="checkbox" name="facilities" value="37"> เตาทำอาหาร</label>
                            <label><input type="checkbox" name="facilities" value="38"> โทรศัพท์</label>
                            <label><input type="checkbox" name="facilities" value="39"> อินเทอร์เน็ต WiFi</label>
                            <label><input type="checkbox" name="facilities" value="40"> เคเบิลทีวี</label>
                            <label><input type="checkbox" name="facilities" value="41"> อนุญาตสัตว์เลี้ยง</label>
                            <label><input type="checkbox" name="facilities" value="42"> พื้นที่สูบบุหรี่</label>
                            <label><input type="checkbox" name="facilities" value="43"> ที่จอดรถ</label>
                            <label><input type="checkbox" name="facilities" value="44"> ที่จอดจักรยาน</label>
                            <label><input type="checkbox" name="facilities" value="45"> ลิฟต์</label>
                            <label><input type="checkbox" name="facilities" value="46"> สระว่ายน้ำ</label>
                            <label><input type="checkbox" name="facilities" value="47"> ฟิตเนส</label>
                            <label><input type="checkbox" name="facilities" value="48"> คีย์การ์ด</label>
                            <label><input type="checkbox" name="facilities" value="49"> ระบบสแกนลายนิ้วมือ</label>
                            <label><input type="checkbox" name="facilities" value="50"> กล้องวงจรปิด</label>
                            <label><input type="checkbox" name="facilities" value="51"> ระบบรักษาความปลอดภัย</label>
                            <label><input type="checkbox" name="facilities" value="52"> ร้านอาหาร/ร้านค้า</label>
                            <label><input type="checkbox" name="facilities" value="53"> ร้านสะดวกซื้อ</label>
                            <label><input type="checkbox" name="facilities" value="54"> บริการซักรีด</label>
                            <label><input type="checkbox" name="facilities" value="55"> ร้านเสริมสวย</label>
                            <label><input type="checkbox" name="facilities" value="56"> ที่ชาร์จรถยนต์ไฟฟ้า</label>

                        </div>

                    </div>



            </div>
            <div class="image-information">
                <div class="upload-icon" id="uploadIcon"></div>
                <img src="" alt="Image Here" id="imagePreview" for="finp">
            </div>

            <button class="bt-save" type="submit">บันทึกข้อมูล</button>

            <input type="file" name="image" style="display: none;" id="fileInput" class="finp">
            <input type="button" value="อัพโหลดรูปภาพ" class="upload"
                onclick="document.getElementById('fileInput').click();">


            </form>
        </div>
    </main>
</body>

</html>