<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <Link rel="stylesheet" href="/stylesheets/homepage.css"></Link>
</head>
<body>
  <div class="container">
    <form onsubmit="openSearchPage()"><input
        type="text"
        class="searchbar"
        placeholder="ค้นหาหอพัก"
      /></form>
      <div class="pricerange">
        ราคา <input type="number" placeholder="ขั้นต่ำ" id="minprice"> - <input type="number" placeholder="สูงสุด" id="maxprice"> บาท
      </div>
      <div>
        <button
            class="Searchbutton"
            onclick="openSearchPage()"
        ><Link>ยืนยัน</Link></button>
      </div>
        </div>
      </div>
  </div>
  <div class="popular-container">
    <div class="popular">
      <h2>หอพักยอดนิยม</h2>
      <p style="font-size: 20.5px;">กรุงเทพฯ/ปริมณฑล</p>
    </div>

    <div class="populardisplay">
      <% data.forEach((i)=>{ %>
        <a href="/dorminfo/<%= i.dorm_id %>">
          <div class="card">
            <div class="card-image">
              <img src="/images/<%= i.dorm_pic %>" alt="dorm-pic" />
            </div>
            <div class="card-content">
              <h2 class="card-title"><%= i.name %></h2>
              <p class="card-body"><%= i.address %></p>
            </div>
          </div>
        </a>
      
      
      <% }); %>
    </div>
  </div>
  <%- include('../components/footer.ejs') %>
  <script src="/javascripts/homepage.js"></script>
</body>
</html>
