<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รายละเอียดห้องพัก</title>
    <link rel="stylesheet" href="/stylesheets/owndorminfo.css">
    <script src="/javascripts/owndorminfo.js"></script>
</head>
<body>
    <div class="container">
        <div class="head">

            <h2>รายละเอียดห้องพัก</h2>
            <div class="button-group">
                <div class="button-all">จัดการบิล
                    <a href="/allBill/<%= dormid %>" class="button"><img class="icon"
                            src="https://www.svgrepo.com/show/265765/invoice-receipt.svg"></a>
                </div>
                <div class="button-all">จัดการปัญหา
                    <a href="/reportnoti/<%= dormid %>" class="button"><img class="icon"
                            src="https://www.svgrepo.com/show/535539/octagon-exclamation.svg"></a>
                </div>
                <div class="button-all">แจ้งค่าเช่า
                    <a href="/addpayment/<%= dormid %>" class="button"><img class="icon"
                            src="https://www.svgrepo.com/show/535388/file.svg"></a>
                </div>
                <div class="button-all">จัดการหอพัก
                    <a class="button"><img class="icon" src="https://www.svgrepo.com/show/535450/indent.svg"
                            onclick="toggleDelState()"></a>
                </div>
                <div class="button-all">เพิ่มห้องพัก
                    <a href="/addroom/<%= dormid %>/<%= userid %>" class="button"><img class="icon"
                            src="https://www.svgrepo.com/show/2087/plus.svg"></a>
                </div>
                <div class="button-all">แจ้งข่าวสาร
                    <button id="bta" class="button"><img class="icon"
                            src="https://www.svgrepo.com/show/535235/bullhorn.svg" onclick="showPopup()"></button>
                </div>
                <div class="deldorm">
                    <form action="/owndorminfo/process_deldorm/<%= dormid %>/<%= userid %>" method="POST"
                        onsubmit="return confirm('คุณแน่ใจหรือไม่ว่าจะลบหอพักนี้?')">
                        <button type="submit" id="x" class="button"></button>
                    </form>
                </div>
            </div>
        </div>
        <% if (data.length===0) { %>
            <p style="text-align: center; font-size: 40px; color: red; margin-top: 150px;">ไม่พบข้อมูลห้องพัก</p>
            <button class="back" onclick="window.location.href='/owneddorm/<%= userid %>'">ย้อนกลับ</button>
            <% } else { %>
                <% data.forEach((i)=>{ %>
                    <main>
                        <form action="/owndorminfo/news/<%= dormid %>/<%= userid %>" method="post">
                            <div class="overlay" id="overlay">
                                <div onclick="closePopup()"></div>

                                <div class="popup" id="popup">

                                    <h1>แจ้งข่าวสารถึงทุกคนในหอพัก : <%= dname %>
                                    </h1>
                                    <textarea rows="4" name="content" required></textarea>
                                    <button>แจ้งข่าวสาร</button>
                                </div>
                            </div>
                        </form>
                        <div class="room-card">
                            <img src="/images/<%= i.room_img %>"
                                alt="ห้องพัก 101">
                            <div class="room-info">
                                <div class="room-title">ห้องพัก <%= i.room_number %>
                                </div>
                                <div>ขนาดห้อง <%= i.size %> ตร.ม.</div>
                                <div>ราคาห้องพัก : <%= i.rent %> <br>
                                        อยู่ชั่นที่ : <%= i.floor %>
                                            <div>สิ่งอำนวยความสะดวก:
                                                <% if (roomAmenities[i.room_id] && roomAmenities[i.room_id].length> 0) {
                                                    %>
                                                    <ul>
                                                        <% roomAmenities[i.room_id].forEach(amenity=> { %>
                                                            <li>
                                                                <%= amenity %>
                                                            </li>
                                                            <% }); %>
                                                    </ul>
                                                    <% } else { %>
                                                        <span>ไม่มีข้อมูล</span>
                                                        <% } %>
                                            </div>
                                </div> <br>
                                <% if (i.loger_id) { %>
                                    <div>สถานะ : <span class="room-status unavailable"
                                            style="color: red;">ไม่ว่าง</span><br>
                                        ผู้เช่าปัจจุบัน : <strong>
                                            <%= userName[i.room_id] %>
                                        </strong></div>
                                    <% } else { %>
                                        <div>สถานะ : <span class="room-status unavailable"
                                                style="color: green;">ว่าง</span>
                                        </div>
                                        <% } %>
                            </div>

                        </div>
                        <div class="deleteDiv" id="deleteDiv<%= i.room_id %>" style="display:none;">
                            <form action="/owndorminfo/process_delroom/<%= i.room_id %>/ <%= dormid %>/<%= userid %>"
                                method="POST" enctype="multipart/form-data"
                                onsubmit="return confirm('คุณแน่ใจหรือไม่ว่าจะลบห้องพักนี้?')">
                                <button type="submit" class="btndel">ลบห้องพัก</button>
                            </form>
                            
                            <form action="/editroom/<%= i.room_id %>/<%= userid %>" method="GET">
                                <button type="submit" class="btnedit">แก้ไขห้องพัก</button>
                            </form>
                            <% if (i.loger_id) { %>
                            <form action="/owndorminfo/deluser/<%= i.room_id %>/<%= dormid %>/<%= userid %>" method="POST" onsubmit="return confirm('คุณแน่ใจหรือไม่ว่าจะลบข้อมูลผู้เช่าออกจากหอพักนี้?')">
                                <button type="submit" class="deluser">ลบข้อมูลผู้เช่า</button>
                            </form>
                            <% } else { %>
                                <% } %>
                        </div>
                        <button id="backbutton" class="back"
                            onclick="window.location.href='/owneddorm/<%= userid %>'">ย้อนกลับ</button>
                    </main>
                    <% }); %>
                        <% } %>
    </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const delState = false;
            const deleteDivs = document.querySelectorAll('.deleteDiv');
            deleteDivs.forEach((deleteDiv) => {
                deleteDiv.style.display = delState ? 'block' : 'none';
            });
            localStorage.setItem('del_state', delState);
        });
        function toggleDelState() {
            const currentState = localStorage.getItem('del_state') === 'true';
            const newState = !currentState;
            localStorage.setItem('del_state', newState);
            const deleteDivs = document.querySelectorAll('.deleteDiv');
            deleteDivs.forEach((deleteDiv) => {
                deleteDiv.style.display = newState ? 'block' : 'none';
            });
        }
        function showPopup() {
            document.getElementById('popup').classList.add('show');
            document.getElementById('overlay').classList.add('show');
        }

        function closePopup() {
            document.getElementById('popup').classList.remove('show');
            document.getElementById('overlay').classList.remove('show');
        }

        document.getElementById('overlay').addEventListener('click', function (event) {
            if (event.target === this) {
                closePopup();
            }
        });
    </script>
</body>

</html>