<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รายละเอียดห้องพัก</title>
    <style>
        main {
            display: flex;
            gap: 1%;
            justify-content: center;
        }

        .container {
            max-width: 900px;
            margin: auto;
            background: white;
            margin-top: 70px;

        }

        .room-card {
            width: 900px;
            display: flex;
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 10px;
            margin-bottom: 15px;
            overflow: hidden;
            margin-top: 40px;
            padding: 25px;
            box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
        }

        .room-card img {
            width: 160px;
            height: 160px;
            object-fit: cover;
        }

        .room-info {
            padding-left: 25px;
            flex: 1;
            color: rgb(150, 150, 150);
        }

        .room-title {
            font-weight: bold;
            font-size: 26px;
            color: black;
        }

        .room-status {
            font-weight: bold;
            color: green;
        }

        .room-status.unavailable {
            color: red;
        }

        .head {
            display: flex;
            position: relative;
        }

        .button-group {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            position: absolute;
            right: 30px;
            /* ปรับจาก 30px เป็น 0 หรือค่าที่ต้องการ */
            top: 10px;
            align-items: center;
            gap: 15px;
        }


        .button-all {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

        }

        .button-all a {
            margin-top: 10px;
        }

        #bta {
            cursor: pointer;
            border: 0px;
            height: 50px;
            width: 50px;
            margin-top: 10px;
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            background: rgb(151, 96, 51);
            padding: 15px;
            border-radius: 100%;
            overflow: hidden;
        }

        .icon {
            width: 24px;
            height: 24px;
        }

        .deleteDiv {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .deleteDiv button {
            color: white;
            font-size: 14px;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition-duration: 3s;
            transition: transform 0.3s ease-in-out, background 3s cubic-bezier(0, 1, 1, 0);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            margin-top: 60px;
            height: 80%;
        }

        .deleteDiv button:hover {
            background: black;
            transform: translateY(-10px);

        }

        .btndel {
            border: 1px solid #ddd;
            box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
            cursor: pointer;
            background: red;
        }

        .btnedit {
            background: rgb(15, 140, 243);
        }

        .deleteDORM {
            position: absolute;
            right: 5%;
            top: 20%;
            background: rgb(214, 0, 0);
        }

        .back {
            height: 60px;
            width: 150px;
            position: fixed;
            bottom: 5%;
            right: 4%;
            background: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
            cursor: pointer;
            z-index: 2;
        }
 
        .back:hover {
            background: #cac9c9;
        }

        /* popup */
        @keyframes bounceIn {
            0% {
                transform: translate(-50%, -50%) scale(0.5);
                opacity: 0;
            }

            60% {
                transform: translate(-50%, -50%) scale(1.1);
                opacity: 1;
            }

            100% {
                transform: translate(-50%, -50%) scale(1);
            }
        }

        @keyframes fadeOut {
            0% {
                transform: translate(-50%, -50%) scale(1);
                opacity: 1;
            }

            100% {
                transform: translate(-50%, -50%) scale(0.5);
                opacity: 0;
            }
        }

        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.5);
            width: 900px;
            height: 500px;
            max-width: 90%;
            padding: 20px;
            background: white;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            text-align: center;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease-out, transform 0.3s ease-out;
            position: relative;
        }

        .popup.show {
            visibility: visible;
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
            animation: bounceIn 0.5s ease-out;
        }

        .popup.hide {
            animation: fadeOut 0.3s ease-out;
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.5);
            transition: opacity 0.3s ease-in, transform 0.3s ease-in, visibility 0s linear 0.3s;
            visibility: hidden;
        }

        .popup button {
            background: red;
            color: white;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 5px;
        }

        .overlay {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease-out, visibility 0s linear 0.3s;
        }

        .overlay.show {
            visibility: visible;
            opacity: 1;
            transition: opacity 0.3s ease-in;
        }

        .popup button {
            position: absolute;
            bottom: 6%;
            left: 50%;
            transform: translateX(-50%);
            background: rgb(54, 126, 49);
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
            width: 400px;
            height: 50px;
        }


        /* ปรับขนาด textarea */
        .popup textarea {
            width: 80%;
            height: 300px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            font-size: 28px;
            resize: none;
        }

        .deldorm {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: -400px;
            /* You can adjust this value to control how far from the right edge */
            top: 50%;
            /* Adjust this to control the vertical position */
            transform: translateY(-50%);
            /* This centers the element vertically */
        }

        #x {
            background-color:  rgb(151, 96, 51);
            border-radius: 50%;
            box-shadow: rgba(138, 98, 64, 0.2) 0 -25px 18px -14px inset,
                rgba(138, 98, 64, 0.15) 0 1px 2px,
                rgba(138, 98, 64, 0.15) 0 2px 4px,
                rgba(138, 98, 64, 0.15) 0 4px 8px,
                rgba(138, 98, 64, 0.15) 0 8px 16px,
                rgba(138, 98, 64, 0.15) 0 16px 32px;
            color: white;
            cursor: pointer;
            padding: 20px;
            text-align: center;
            transition: all 0.3s ease-in-out;
            border: 0;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
        }

        #x:hover {
            width: 140px;
            height: 30px;
            border-radius: 50px;
        }


        #x::before {
            content: "🗑️";
            position: absolute;
            transition: opacity 0.2s ease-in-out;
        }

        #x::after {
            content: "ลบข้อมูลหอพัก";
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s ease-in-out, visibility 0.2s;
        }

        #x:hover::before {
            opacity: 0;
            visibility: hidden;
        }

        #x:hover::after {
            opacity: 1;
            visibility: visible;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="head">

            <h2>รายละเอียดห้องพัก</h2>
            <div class="button-group">
                <div class="button-all">จัดการบิล
                    <a href="/allBill/<%= dormid %>" class="button"><img class="icon"
                            src="https://www.svgrepo.com/show/265765/invoice-receipt.svg"></a>
                </div>
                <div class="button-all">จัดการปัญหา
                    <a href="/reportnoti/<%= dormid %>" class="button"><img class="icon"
                            src="https://www.svgrepo.com/show/535539/octagon-exclamation.svg"></a>
                </div>
                <div class="button-all">แจ้งค่าเช่า
                    <a href="/addpayment/<%= dormid %>" class="button"><img class="icon"
                            src="https://www.svgrepo.com/show/535388/file.svg"></a>
                </div>
                <div class="button-all">จัดการหอพัก
                    <a class="button"><img class="icon" src="https://www.svgrepo.com/show/535450/indent.svg"
                            onclick="toggleDelState()"></a>
                </div>
                <div class="button-all">เพิ่มห้องพัก
                    <a href="/addroom/<%= dormid %>/<%= userid %>" class="button"><img class="icon"
                            src="https://www.svgrepo.com/show/2087/plus.svg"></a>
                </div>
                <div class="button-all">แจ้งข่าวสาร
                    <button id="bta" class="button"><img class="icon"
                            src="https://www.svgrepo.com/show/535235/bullhorn.svg" onclick="showPopup()"></button>
                </div>
                <div class="deldorm">
                    <form action="/owndorminfo/process_deldorm/<%= dormid %>/<%= userid %>" method="POST"
                        onsubmit="return confirm('คุณแน่ใจหรือไม่ว่าจะลบหอพักนี้?')">
                        <button type="submit" id="x" class="button"></button>
                    </form>
                </div>
            </div>
        </div>
        <% if (data.length===0) { %>
            <p style="text-align: center; font-size: 40px; color: red; margin-top: 150px;">ไม่พบข้อมูลห้องพัก</p>
            <button class="back" onclick="window.location.href='/owneddorm/<%= userid %>'">ย้อนกลับ</button>
            <% } else { %>
                <% data.forEach((i)=>{ %>
                    <main>
                        <form action="/owndorminfo/news/<%= dormid %>/<%= userid %>" method="post">
                            <div class="overlay" id="overlay">
                                <div onclick="closePopup()"></div>

                                <div class="popup" id="popup">

                                    <h1>แจ้งข่าวสารถึงทุกคนในหอพัก : <%= dname %>
                                            <%= dormid %>
                                    </h1>
                                    <textarea rows="4" name="content" required></textarea>
                                    <button>แจ้งข่าวสาร</button>
                                </div>
                            </div>
                        </form>
                        <div class="room-card">
                            <img src="https://www.grandecentrepointpattaya.com/upload/rooms-and-suites/2-rooms-and-suites.jpg?v=66"
                                alt="ห้องพัก 101">
                            <div class="room-info">
                                <div class="room-title">ห้องพัก <%= i.room_number %>
                                </div>
                                <div>ขนาดห้อง <%= i.size %> ตร.ม.</div>
                                <div>ราคาห้องพัก : <%= i.rent %> <br>
                                        อยู่ชั่นที่ : <%= i.floor %>
                                            <div>สิ่งอำนวยความสะดวก:
                                                <% if (roomAmenities[i.room_id] && roomAmenities[i.room_id].length> 0) {
                                                    %>
                                                    <ul>
                                                        <% roomAmenities[i.room_id].forEach(amenity=> { %>
                                                            <li>
                                                                <%= amenity %>
                                                            </li>
                                                            <% }); %>
                                                    </ul>
                                                    <% } else { %>
                                                        <span>ไม่มีข้อมูล</span>
                                                        <% } %>
                                            </div>
                                </div> <br>
                                <% if (i.loger_id) { %>
                                    <div>สถานะ : <span class="room-status unavailable"
                                            style="color: red;">ไม่ว่าง</span><br>
                                        ผู้เช่าปัจจุบัน : <strong>
                                            <%= userName[i.room_id] %>
                                        </strong></div>
                                    <% } else { %>
                                        <div>สถานะ : <span class="room-status unavailable"
                                                style="color: green;">ว่าง</span>
                                        </div>
                                        <% } %>
                            </div>

                        </div>
                        <div class="deleteDiv" id="deleteDiv<%= i.room_id %>" style="display:none;">
                            <form action="/owndorminfo/process_delroom/<%= i.room_id %>/ <%= dormid %>/<%= userid %>"
                                method="POST" enctype="multipart/form-data"
                                onsubmit="return confirm('คุณแน่ใจหรือไม่ว่าจะลบหอพักนี้?')">
                                <button type="submit" class="btndel">ลบห้องพัก</button>
                            </form>
                            <form action="/editroom/<%= i.room_id %>/<%= userid %>" method="GET">
                                <button type="submit" class="btnedit">แก้ไขห้องพัก</button>
                            </form>
                        </div>
                        <button id="backbutton" class="back"
                            onclick="window.location.href='/owneddorm/<%= userid %>'">ย้อนกลับ</button>
                    </main>
                    <% }); %>
                        <% } %>
    </div>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const delState = false;
            const deleteDivs = document.querySelectorAll('.deleteDiv');
            deleteDivs.forEach((deleteDiv) => {
                deleteDiv.style.display = delState ? 'block' : 'none';
            });
            localStorage.setItem('del_state', delState);
        });
        function toggleDelState() {
            const currentState = localStorage.getItem('del_state') === 'true';
            const newState = !currentState;
            localStorage.setItem('del_state', newState);
            const deleteDivs = document.querySelectorAll('.deleteDiv');
            deleteDivs.forEach((deleteDiv) => {
                deleteDiv.style.display = newState ? 'block' : 'none';
            });
        }
        function showPopup() {
            document.getElementById('popup').classList.add('show');
            document.getElementById('overlay').classList.add('show');
        }

        function closePopup() {
            document.getElementById('popup').classList.remove('show');
            document.getElementById('overlay').classList.remove('show');
        }

        document.getElementById('overlay').addEventListener('click', function (event) {
            if (event.target === this) {
                closePopup();
            }
        });
    </script>
</body>

</html>