<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dormowned</title>
    <style>
        body {
            background: #CABA9C;
        }

        h1 {
            margin-top: 2%;
            text-align: center;
            font-size: 50px;
            color: #ffffff;

        }

        img {
            width: 30%;
            border-radius: 20px;
        }

        .mydorm {
            width: 900px;
            /* กำหนดขนาดคงที่ */
            height: 300px;
            /* กำหนดความสูงคงที่ */
            cursor: pointer;
            color: #ffffff;
            border-radius: 20px;
            margin-top: 2%;
            font-size: 25px;
            padding: 2%;
            display: flex;
            gap: 2%;
            justify-content: left;
            background: #8A6240;
            transition-duration: 3s;
            transition: transform 0.3s ease-in-out, background 3s cubic-bezier(0, 1, 1, 0);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }


        .mydorm:hover {
            transform: translateY(-10px);
            background: #bb8e66;
        }

        .bt-adddorm {
            background-color: #8A6240;
            border-radius: 50%;
            box-shadow: rgba(138, 98, 64, 0.2) 0 -25px 18px -14px inset,
                rgba(138, 98, 64, 0.15) 0 1px 2px,
                rgba(138, 98, 64, 0.15) 0 2px 4px,
                rgba(138, 98, 64, 0.15) 0 4px 8px,
                rgba(138, 98, 64, 0.15) 0 8px 16px,
                rgba(138, 98, 64, 0.15) 0 16px 32px;
            color: white;
            cursor: pointer;
            padding: 20px;
            text-align: center;
            transition: all 0.3s ease-in-out;
            border: 0;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
        }

        .bt-adddorm.add::before {
            content: "+";
            font-size: 30px;
            position: absolute;
            transition: opacity 0.2s ease-in-out;
        }

        .bt-adddorm.add::after {
            content: "เพิ่มหอพัก";
            font-size: 16px;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s ease-in-out, visibility 0.2s;
        }

        .bt-adddorm.del::before {
            content: "✎";
            font-size: 20px;
            position: absolute;
            transition: opacity 0.2s ease-in-out;
        }

        .bt-adddorm.del::after {
            content: "จัดการหอพัก";
            font-size: 16px;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s ease-in-out, visibility 0.2s;
        }

        .bt-adddorm:hover {
            width: 140px;
            height: 30px;
            border-radius: 50px;
        }

        .bt-adddorm:hover::before {
            opacity: 0;
            visibility: hidden;
        }

        .bt-adddorm:hover::after {
            opacity: 1;
            visibility: visible;
        }

        .header {
            display: flex;
            justify-content: center;
            gap: 2%;
        }

        .main {
            margin-bottom: 1%;
        }

        .all {
            display: flex;
            gap: 1%;
            justify-content: center;
        }


        .deleteDiv {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .deleteDiv button {
            color: white;
            font-size: 14px;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition-duration: 3s;
            transition: transform 0.3s ease-in-out, background 3s cubic-bezier(0, 1, 1, 0);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            margin-top: 60px;
            height: 80%;
        }

        .deleteDiv button:hover {
            background: black;
            transform: translateY(-10px);

        }
        .btndel{
            background: red;
        }
        .btnedit{
            background: rgb(15, 140, 243);
        }
    </style>
</head>

<body>
    <div class="main">
        <h1>ห อ พั ก ข อ ง ฉั น</h1>
        <div class="header">
            <button class="bt-adddorm add" onclick="window.location.href='/adddorm'"></button>
            <button class="bt-adddorm del" onclick="toggleDelState()"></button>
        </div>
        <% data.forEach((i)=> { %>
            <div class="all">
                <div class="mydorm" id="mydorm" onclick="window.location.href='/addroom/<%= i.owner_id %>'">
                    <img src="/images/<%= i.dorm_pic %>" alt="">
                    <div class="dorm-information">
                        <p><strong>
                                <%= i.name %>
                            </strong></p>   
                        <p>รายละเอียด : <%= i.detail %> <br>
                                ที่อยู่ : <%= i.address %> <br>
                                    ห้อง : <%= i.room %> <br>
                                        เรตติ้ง : <%= i.rating %> <br>
                           ค่าเช่า : <%= i.rent %>
                        </p>
                    </div>
                </div>
                <div class="deleteDiv" id="deleteDiv<%= i.owner_id %>" style="display:none;">
                    <form action="/process_del/<%= i.dorm_id %>" method="POST" enctype="multipart/form-data" onsubmit="return confirm('คุณแน่ใจหรือไม่ว่าจะลบหอพักนี้?')">
                        <button type="submit" class="btndel">ลบข้อมูลหอพัก</button>
                    </form>
                    <form action="/editdorm/<%= i.dorm_id %>/<%= i.owner_id %>" method="GET">
                        <button type="submit" class="btnedit">แก้ไขหอพัก</button>
                    </form>                                    
                </div>
            </div>
            <% }); %>


    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const delState = false;
            const deleteDivs = document.querySelectorAll('.deleteDiv');
            deleteDivs.forEach((deleteDiv) => {
                deleteDiv.style.display = delState ? 'block' : 'none';
            });
            localStorage.setItem('del_state', delState);
        });
        function toggleDelState() {
            const currentState = localStorage.getItem('del_state') === 'true';
            const newState = !currentState;
            localStorage.setItem('del_state', newState);
            const deleteDivs = document.querySelectorAll('.deleteDiv');
            deleteDivs.forEach((deleteDiv) => {
                deleteDiv.style.display = newState ? 'block' : 'none';
            });
        }
    </script>

</body>

</html>