<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>หน้าชำระเงิน</title>
    <link rel="stylesheet" href="/stylesheets/qrbill.css">
</head>

<body>
    <div class="container">
        <form action="/qrbill/gogoqr/<%= data.pay_id%>" method="post" enctype="multipart/form-data" class="container">
            <div class="qr-code-section">
                <h2>สแกนเพื่อชำระเงิน</h2>
                <img src="/images/<%= data.qrcode%>"
                    alt="QR Code" class="qr-code">
            </div>

            <div class="details-section">
                <h2>รายละเอียดการชำระเงิน</h2>
                <p><strong>ชื่อเจ้าของหอ:</strong> <%= data.first_name %> <%= data.last_name %></p>
                <p><strong>ค่าน้ำ:</strong> <%= data.waterBill %> บาท</p>
                <p><strong>ค่าไฟฟ้า:</strong> <%= data.electricBill %> บาท</p>
                <p><strong>ค่าเช่า:</strong> <%= data.rent %> บาท</p>
                <p class="total"><strong>รวมทั้งหมด:</strong> <%= data.totalamount %> บาท</p>
            </div>

            <div class="upload-section">
                <input type="file" name="slip" id="slipFileInput" style="display: none;">
                <input type="button" value="แนบหลักฐานสลิปการโอน" class="upload-button"
                    onclick="document.getElementById('slipFileInput').click();" id="slipva">
            </div>

            <button class="confirm-button">ยืนยันการโอน</button>
        </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const slip = document.getElementById("slipFileInput");

            slip.addEventListener("change", function (event) {
                const file = event.target.files[0];
                if (file) {
                    document.getElementById('slipva').value = file.name;
                } else {
                    document.getElementById('slipva').value = "แนบหลักฐานสลิปการโอน";
                }
            });
        });
    </script>
</body>

</html>