<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/roominfo.css">
</head>
<body>
    <main>
        <div class="room_info">
            <img src="/images/<%=room.room_img%>" alt="roomimg" class="room_img">
            <div class="info">
                <h1><%=room.room_number%></h1>
                <h3>ชั้น <%=room.floor%></h3>
                <p><%=room.status%></p>
                <button type="button" onclick="rent('<%=room.room_id%>')">เช่าห้อง</button>
                <div class="mini_info">
                    <h3>รายละเอียด</h3>
                    <p>ขนาด <%=room.size%> ตร.ม</p>
                    <p><%=room.rent%> บาท/เดือน</p>
                </div>
            </div>
            <div class="facilities_container">
                <h1>สิ่งอำนวยความสะดวก</h1>
                <div class="facilities">
                    <%amenities.forEach(fac => {%>
                        <h5><%=fac.name%></h5>
                    <%});%>
                </div>
            </div>
        </div>
    </main>
</body>
</html>